* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #222;
    color: #fff;
}

.logo h2 {
    margin-bottom: 5px;
}

.logo p {
    font-size: 12px;
    color: #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #4da6ff;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("profile.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn {
    padding: 10px 20px;
    background: #4da6ff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #1a75ff;
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 50px;
    background: #fff;
}

.about-img img {
    width: 350px;
    border-radius: 10px;
}

.about-content {
    max-width: 500px;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
}

.about-content h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #4da6ff;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.about-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Responsive */
@media (max-width: 900px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding: 40px;
        text-align: center;
        justify-content: center;
    }

    header {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}
